[Desktop Entry]
Name=Youdao Note
Name[zh_CN]=有道云笔记
Exec="/opt/apps/com.netease.youdaonote.linyaps/ynote/ynote-desktop" --no-sandbox %U
Terminal=false
Type=Application
Icon=ynote-desktop
StartupWMClass=有道云笔记
Comment=ynote-desktop
Categories=Office;

StartupNotify=true
Terminal=false